.DS_Store
MathPix.xcodeproj/project.xcworkspace/xcuserdata/Michael.xcuserdatad/UserInterfaceState.xcuserstate
MathPix.xcodeproj/project.xcworkspace/xcuserdata
MathPix.xcodeproj/
MathPix.xcodeproj/xcuserdata/Michael.xcuserdatad/xcschemes/MathPix.xcscheme
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
Pods/
